{% extends 'base.html.twig' %}

{% block body %}

<h1> A propos </h1>

 <h2 class="display-6">Qui sommes-nous ?</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe impedit tenetur, quos explicabo maxime incidunt? Consectetur, possimus, soluta eos asperiores consequuntur excepturi repellendus hic enim reprehenderit odit nesciunt repudiandae maxime harum unde veniam, dolorem sapiente minima error? Delectus iusto molestias aspernatur officia quisquam velit officiis? Magni vel quisquam et ullam accusamus aliquam consequatur provident, nostrum quaerat totam soluta nisi sint voluptas molestiae? Minus quaerat tempore, voluptatum architecto cum aperiam suscipit assumenda velit illum quae accusamus odio saepe iste porro. Modi maiores voluptas aliquam quos earum perferendis quia molestiae nisi odio, iure temporibus magni nihil tenetur expedita similique quisquam nostrum voluptatum?</p>

  <h2 class="display-6">Notre objectif ?</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe impedit tenetur, quos explicabo maxime incidunt? Consectetur, possimus, soluta eos asperiores consequuntur excepturi repellendus hic enim reprehenderit odit nesciunt repudiandae maxime harum unde veniam, dolorem sapiente minima error? Delectus iusto molestias aspernatur officia quisquam velit officiis? Magni vel quisquam et ullam accusamus aliquam consequatur provident, nostrum quaerat totam soluta nisi sint voluptas molestiae? Minus quaerat tempore, voluptatum architecto cum aperiam suscipit assumenda velit illum quae accusamus odio saepe iste porro. Modi maiores voluptas aliquam quos earum perferendis quia molestiae nisi odio, iure temporibus magni nihil tenetur expedita similique quisquam nostrum voluptatum?</p>

  <h2 class="display-6">L'équipe</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe impedit tenetur, quos explicabo maxime incidunt? Consectetur, possimus, soluta eos asperiores consequuntur excepturi repellendus hic enim reprehenderit odit nesciunt repudiandae maxime harum unde veniam, dolorem sapiente minima error? Delectus iusto molestias aspernatur officia quisquam velit officiis? Magni vel quisquam et ullam accusamus aliquam consequatur provident, nostrum quaerat totam soluta nisi sint voluptas molestiae? Minus quaerat tempore, voluptatum architecto cum aperiam suscipit assumenda velit illum quae accusamus odio saepe iste porro. Modi maiores voluptas aliquam quos earum perferendis quia molestiae nisi odio, iure temporibus magni nihil tenetur expedita similique quisquam nostrum voluptatum?</p>
</div>

 {% endblock %}